.characterList{
    background: #fff;
    padding: 20px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.characterList div{
    border-radius: 3px;
    font-weight: 600;
    padding: 5px;
    background: #eee;
}